{% extends 'Core/app_template.html' %}
{% block main_content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const fileInput = document.querySelector('input[name="file"]');
            const titleInput = document.querySelector('input[name="title"]');

            fileInput.addEventListener('change', function(event) {
                const file = event.target.files[0];
                if (file) {
                    titleInput.value = file.name;
                } else {
                    titleInput.value = '';
                }
            });
        });
    </script>
{% endblock %}