{% extends 'Core/app_template.html' %}
{% load static %}
{% block main_content %}

<div class="document-card">
    <div class="document-title">
        <span class="document-id">
            {{ off.name }}
        </span>
        <span class="document-data">
            {{ off.comment }}
        </span>
    </div>
    <br>
    <a>
        <button type="button" class="generate-button" data-url="x">Создать ЛИ коррекции</button>
    </a>
    <br>
    <a>
        <button type="button" class="generate-button" data-url="x">Провести ЛИ коррекции</button>
    </a>
    <br>
    <a>
        <button type="button" class="generate-button" data-url="x">Провести документ ЭД</button>
    </a>
</div>
<div class="table-container">
    <h3>Документ списания в GK</h3>
    <table>
        <thead>
            <tr>
                <td>PLU</td>
                <td>Наименование</td>
                <td>Цена, ₽</td>
                <td>Количество, уе</td>
                <td>Остаток, уе</td>
                <td>Сумма, ₽</td>
            </tr>
        </thead>
        <tbody>
            {% for item in positions %}
            <tr>
                <td>{{ item.article }}</td>
                <td>{{ item.itemName }}</td>
                <td>{{ item.unitPrice }}</td>
                <td>{{ item.countedQuantity }}</td>
                <td>{{ item.stockQuantity }}</td>
                <td>{{ item.totalSum }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="table-container">
    <h3>Документ постановки на остаток в GK</h3>
    {% if eddc_i %}
    <table>
        <thead>
            <tr>
                <td>PLU</td>
                <td>Наименование</td>
                <td>Цена, ₽</td>
                <td>Количество, уе</td>
                <td>Сумма, ₽</td>
            </tr>
        </thead>
    </table>
    {% elif eddc_er %}
        Работа с этим списанием заблокирована, обратитесь в службу технической поддержки X5 WGK
    {% else %}
    Нет информации о связанных документах!
    {% endif %}
</div>

<!-- Модальное окно -->
<div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="responseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="responseModalLabel">Ответ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="responseMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<!-- Элемент загрузки -->
<div id="loading" style="display: none;">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.generate-button').click(function() {
            var url = $(this).data('url');
            $('#loading').show();

            $.ajax({
                url: url,
                method: 'GET',
                success: function(response) {
                    $('#loading').hide();
                    $('#responseMessage').text(response.message);
                    $('#responseModal').modal('show');
                },
                error: function(xhr, status, error) {
                    $('#loading').hide();
                    $('#responseMessage').text('Произошла ошибка: ' + error);
                    $('#responseModal').modal('show');
                }
            });
        });
    });
</script>
{% endblock %}
